---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*
FormatStyle: file
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  hicpp-special-member-functions.AllowSoleDefaultDtor: true
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassMemberCase: lower_case
  readability-identifier-naming.ClassMemberSuffix: _
  readability-identifier-naming.ConceptCase: CamelCase
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: k
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.EnumConstantPrefix: k
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MacroDefinitionPrefix: VDLAB_
  readability-identifier-naming.MethodCase: CamelCase
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.PublicMemberSuffix: ""
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.StaticConstantPrefix: k
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
